<ul class="pureCssMenu pureCssMenum pureBottomBorder">
    
    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">POS</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">          
            <li class="pureCssMenui">@Html.ActionLink("Product Info", "ProductInfo", "POS_Setup")</li>
            <li class="pureCssMenui">@Html.ActionLink("Brand", "Brand", "POS_Setup")</li>
            <li class="pureCssMenui">@Html.ActionLink("Payment Type", "PaymentType", "Accounting_Financial")</li>   
            <li class="pureCssMenui">@Html.ActionLink("Product Category", "ProductCategory", "POS_Setup")</li>         
            <li class="pureCssMenui">@Html.ActionLink("Customer Info", "CustomerInfo", "POS_Setup")</li>         
            <li class="pureCssMenui">@Html.ActionLink("Supplier Info", "SupplierInfo", "POS_Setup")</li>
        
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Set Up</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("Company Info", "Companyinfo", "Common")</li>        
          
            <li class="pureCssMenui">@Html.ActionLink("Bank", "Bank", "Common")</li>
            <li class="pureCssMenui">@Html.ActionLink("Branch", "Branch", "Common")</li>            
            <li class="pureCssMenui">@Html.ActionLink("Country", "CountryInfo", "Common")</li>
            <li class="pureCssMenui">@Html.ActionLink("District", "District", "Common")</li>                       
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    

    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Purchase</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("Purchase", "PurchaseItem", "POS_Purchase")</li>
            <li class="pureCssMenui">@Html.ActionLink("Purchase Return", "PurchaseReturn", "POS_Purchase")</li>
            <li class="pureCssMenui">@Html.ActionLink("Sales", "SalesItem", "POS_Sales")</li> 
            <li class="pureCssMenui">@Html.ActionLink("Sales Return", "SalesReturn", "POS_Sales")</li>          
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
     <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Reports</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
                                                
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>
