@model Repository.Inv_SizeInfo
@{
    ViewBag.Title = "SizeInfo";
}

<script src="~/Scripts/ApplicationJS/Common/SizeInfo.js"></script>

@using (@Html.BeginForm())
{
    <div class="FormName">Size Info</div>
    <div class="MainDiv">
        <div class="LeftPart">
             @Html.HiddenFor(m => m.SizeID)
            <div class="LeftRow">
                <div class="LeftColumn">
                    @Html.LabelFor(m => m.SizeName, "Size Name")
                </div>
                <div>
                    @Html.TextBoxFor(m => m.SizeName, new { @class = "required" })
                </div>
            </div>
            <div class="LeftRow">
                <div class="LeftColumn">
                    @Html.LabelFor(m => m.Note, "Note")
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Note)
                </div>
            </div>
            <div class="CustombuttonOnePart">
                <input class="ac-inputs ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Save" id="btnSave" />
                <input class="ac-inputs ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Update" id="btnUpdate" />
            </div>
            <div>
                <table id="tblSizeInfo"></table>
                <div id="SizeInfoPager"></div>
            </div>
        </div>
    </div> 
    
}